<!DOCTYPE html>
<html lang="en" ng-app="appModule">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="angular-csp.css">
</head>
<body>
<div ng-controller="carCtrl">
    <table class="table table-bordered">
        <tr>
            <th>序号</th>
            <th>书名</th>
            <th>价格</th>
            <th>数量</th>
            <th>小计</th>
            <th>操作</th>
        </tr>
        <tr ng-repeat="book in books " >
            <td>{{$index+1}}</td>
            <td>{{book.name}}</td>
            <td>{{book.price}}</td>
            <td><input type="text" ng-model="book.count"></td>
            <td>{{book.price*book.count}}</td>
            <td><button class="btn btn-danger" ng-click="remove(book)">删除</button></td>
        </tr>
        <tr ng-if="books.length" ng-cloak>
            <td colspan="6">总价{{total() | currency:'￥'}} 打折<input type="text" ng-model="z"> 折后价格{{total()*z/10}}</td>
        </tr>
    </table>
</div>
<script src="angular.js"></script>
<script>
    var app = angular.module('appModule',[]);
    app.controller('carCtrl', function ($scope,$http) {
       /* $http({
            url:'/ajax',
            method:'GET',
            params:{name:1} //get请求可以通过params发送？号后面的内容
        }).success(function (data) {
            $scope.books = data;
        });*/
         /*$http({
             url:'/ajax',
             method:'POST',
             data:{name:1} //get请求可以通过params发送？号后面的内容  data是发送请求体里的内容
         }).success(function (data) {
             $scope.books = data;
         });*/
        /*$http.get('/ajax').success(function (data) {
            $scope.books = data;
        });*/
        /*$http.post('/ajax',{name:120}).success(function (data) {
         $scope.books = data;
         });*/
        $http.jsonp('/ajax').success(function (data) {
            console.log(data);
//            $scope.books = data;
        });


        //1.通过$http发送的get请求?后面的参数通过params
        //2.通过$http发送的post请求 请求体的内容要放到data里
        //$http和$.ajax一样
        //$scope.books = [];
        //计算总价格
        $scope.total = function () {
            var sum = 0;
            angular.forEach($scope.books, function (item) {
                //item代表每一本书 算出每一本书所用的价格进行累加
                sum += item.price * item.count;
            });
            return sum;
        };
        $scope.z = 10;
        $scope.remove = function (cur) {
            $scope.books = $scope.books.filter(function (item) {
                return item!=cur;
            });
        }
    });
</script>
</body>
</html>